{% extends "padre.html" %}

{% load static %}

{% block contenido %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>nombre</th>
            <th>apellido</th>
            <th>email</th>
            <th>dni</th>
            
        </tr>
    </thead>
    <tbody>
        
        {% for n in alumnos %}
        <tr>
            <td>{{ n.id }}</td>
            <td>{{ n.nombre }}</td>
            <td>{{ n.apellido }}</td>
            <td>{{ n.email }}</td>
            <td>{{ n.dni }}</td>
            <td>
                <a href="{% url 'eliminar_alumno' n.id %}" class="btn btn-danger btn-sm">BORRAR</a>
                <a href="{% url 'edicion_alumno' n.id %}" class="btn btn-danger btn-sm">EDITAR</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <a href="{% url 'principal' %}" class="btn btn-primary" >Volver</a>
</table>
{% endblock %}